# Python / Virtual Environment
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
ENV/
env/
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.npm
.eslintcache

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

# Environment Files & Secrets
.env
.env.*
!.env.example
*.local

# Temp & Storage
.tempmediaStorage/
scratch/
backend/storage/


